-- requirements.txt
-- CS 372 Software Construction Spring 2016
-- KDS & LS
-- February 10, 2016

Requirements Document

Interface:
- Graphical interface
- Allows clicking to place ships
- Allows clicking to choose where to fire

Functionality:
- Plays battleship
- 2 player local play