-- requirements.txt
-- CS 372 Software Construction Spring 2016
-- KDS & LS
-- February 10, 2016

Requirements Document

Scope/Description:
Project is the game battleship. Playable by 2 human players at the same computer, allows one player to place ships, then the other, 
swaping between boards on the same screen. Then the 2 players take turns firing on the other until one player hits all of the other's ships
at which point a win screen will be displayed and the game can be restarted

Interface:
- Graphical interface
- Allows clicking to place ships
- Allows clicking to choose where to fire
- Shows position of shots so far

Functionality:
- Plays battleship
- 2 player local play
- tracks hits on each player's ships
- shows players where they have shot so far, and if it hit a ship there
- Ships placeable either horizontal or vertical
- can be restarted
- ship placement can be reset while placing
- 